name: Daily Commit

on:
  schedule:
    - cron: '30 6 * * *'
  
  workflow_dispatch:

permissions:
  contents: write

jobs:
  daily-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Update Date in README
        run: node index.js

      - name: Commit and Push
        run: |
          git config --global user.name "EstebanSmolak19" 
          git config --global user.email "estebansmolak@gmail.com"
          
          git add README.md
          
          git commit -m "Update: daily commit"
          
          git push